<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      TinMan supports optional customisation via configuration keys.
      To alter the default values of the Measures class, use the following
      property keys.
      
      Lengths/Distances are in metres.
      Mass is in kilograms.
    -->
<!--
    <add key="TinMan.Measures.BallRadiusMetres"     value="0.04" />
    <add key="TinMan.Measures.BallMassKilograms"    value="0.026" />
    <add key="TinMan.Measures.FieldYLength"         value="14.0" />
    <add key="TinMan.Measures.FieldXLength"         value="21.0" />
    <add key="TinMan.Measures.FieldZHeight"         value="40.0" />
    <add key="TinMan.Measures.GoalYLength"          value="2.1" />
    <add key="TinMan.Measures.GoalZLength"          value="0.8" />
    <add key="TinMan.Measures.GoalXLength"          value="0.6" />
    <add key="TinMan.Measures.PenaltyAreaXLength"   value="1.8" />
    <add key="TinMan.Measures.PenaltyAreaYLength"   value="3.9" />
    <add key="TinMan.Measures.FreeKickDistance"     value="1.3" />
    <add key="TinMan.Measures.FreeKickMoveDistance" value="1.5" />
    <add key="TinMan.Measures.GoalKickDistance"     value="1.0" />
-->
  </appSettings>
</configuration>